.div-content {
    width: 100%;
}

.td-accion {
    width: 90px !important;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
    padding: 15px 10px 10px 10px !important;
}

::ng-deep .p-datatable table {
    font-size: 15px !important;
}