<app-alerts [text]="text" [type]="tipoAlerta" *ngIf="text != ''" (change)="text = ''"></app-alerts>
<div class="p-mt-3"></div>
<div class="p-grid div-dieta">
  <div class="p-col-12 p-md-4 p-lg-4">
    <app-label [required]="false" label="Alimento"></app-label>
  </div>
  <div class="p-col-12 p-md-2 p-lg-2">
    <app-label [required]="false" label="Tipo"></app-label>
  </div>
  <div class="p-col-12 p-md-2 p-lg-2">
    <app-label [required]="false" label="Cantidad (kg MS/día)"></app-label>
  </div>
  <div class="p-col-12 p-md-2 p-lg-2">
    <app-label [required]="false" label="Cantidad como ofrecido (kg/día)"></app-label>
  </div>
  <div class="p-col-12 p-md-2 p-lg-2">
    <app-label [required]="false" label="Precio ($/kg MS alimento)"></app-label>
  </div>
</div>
<div *ngFor="let item of alimentos; let i = index">
  <div class="p-grid {{i % 2 == 0 ? 'fila' : ''}}">
    <div class="p-col-12 p-md-4 p-lg-4">
      <span>{{item.alimento.nombre}}</span>
    </div>
    <div class="p-col-12 p-md-2 p-lg-2">
      <span>{{item.alimento.tipo}}</span>
    </div>
    <div class="p-col-12 p-md-2 p-lg-2">
      <p-inputNumber [(ngModel)]="item.cantidadKs" [min]="0" [max]="10000" mode="decimal" 
        placeholder="kg MS/día" [required]="true" (ngModelChange)="calcularCantidadO(item)"
        [minFractionDigits]="2"></p-inputNumber>
    </div>
    <div class="p-col-12 p-md-2 p-lg-2">
      <p-inputNumber [(ngModel)]="item.cantidadO" [min]="0" [max]="10000" mode="decimal" 
        [required]="true" (ngModelChange)="calcularCantidadKs(item)"
        [minFractionDigits]="2"></p-inputNumber>
    </div>
    <div class="p-col-12 p-md-2 p-lg-2 p-text-lg-right">
      <p-inputNumber [(ngModel)]="item.precio" prefix="$ " mode="decimal" locale="en-US" [minFractionDigits]="2" placeholder="$" [required]="true"></p-inputNumber>
    </div>
  </div>

</div>
<div class="footer">
  <p-button label="Anterior" icon="pi pi-arrow-left" iconPos="left" (click)="anterior()"></p-button>
  <div class="p-mr-2"></div>
  <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (click)="siguiente()"></p-button>
</div>