::ng-deep .modal-cancelar {
    border-top: 7px solid #33691e;
}

.pi-times {
    font-weight: bold !important;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 30px;
}

.wrapper {
  display: flex;
  text-align: end;
}

::ng-deep .p-dropdown {
    width: 230px !important;
}

