<p-dialog header="&nbsp;"
          position="rigth"
          [modal]="true"
          [baseZIndex]="10000"
          [draggable]="false"
          [resizable]="false"
          (onHide)="no()"
          [(visible)]="visible"
          [style]="{width: '550px', height: '200px'}"
          header="¿Esta seguro que desea eliminar el alimento?"
          styleClass="modal-cancelar">
          <div class="modal-footer">
            <div class="wrapper">
              <button pButton pRipple type="button" label="No" class="p-button-outlined" (click)="no()"></button>
              <div class="p-mr-2"></div>
              <p-button label="Si, estoy seguro" (click)="si()"></p-button>
            </div>
          </div>
</p-dialog>
