<p-dialog header="&nbsp;"
          position="rigth"
          [modal]="true"
          [baseZIndex]="10000"
          [draggable]="false"
          [resizable]="false"
          (onHide)="no()"
          [(visible)]="visible"
          [style]="{width: '550px', height: '230px'}"
          header="¿Esta seguro que desea eliminar el alimento?"
          styleClass="modal-cancelar animate__animated animate__fadeInDown">
          <div>
            <span class="descripcion">Tenga en cuenta que si elimina el alimento, se eliminará la utilización del mismo de todos los reportes</span>
          </div>
          <div class="modal-footer">
            <div class="wrapper">
              <button pButton pRipple type="button" label="No" class="p-button-outlined" (click)="no()"></button>
              <div class="p-mr-2"></div>
              <button pButton pRipple type="button" class="p-button-success" label="Si, estoy seguro" (click)="si()"></button>
            </div>
          </div>
</p-dialog>
