<p-dialog header="&nbsp;"
          position="rigth"
          [modal]="true"
          [baseZIndex]="10000"
          [draggable]="false"
          [resizable]="false"
          (onHide)="cancelar()"
          [(visible)]="visible"
          [style]="{width: '1050px', height: '700px'}"
          header="{{bibliotecaDto.id == null ? 'Agregar alimento a la biblioteca' : 'Editar alimento'}}"
          styleClass="modal-cancelar animate__animated animate__fadeInDown">
          <div>
            <app-alerts [text]="text" type="danger" *ngIf="text != ''" (change)="text = ''"></app-alerts>
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                  <app-label label="Nombre" [required]="true"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Categoría" [required]="true"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Tipo" [required]="true"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="MS (%)"  [required]="false"></app-label>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                <span class="p-inputnumber p-component">
                  <input type="text" [(ngModel)]="bibliotecaDto.nombre" id="nombreAlimento"/>
                </span>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-dropdown [options]="categorias" [(ngModel)]="bibliotecaDto.categoria" styleClass="width_full"
                  placeholder="Seleccione..." 
                  [showClear]="true" optionDisabled="inactive" [required]="true">
                </p-dropdown>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-dropdown [options]="tipos" [(ngModel)]="bibliotecaDto.tipo" styleClass="width_full"
                  placeholder="Seleccione..."
                  [showClear]="true" optionDisabled="inactive" [required]="true">
                </p-dropdown>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.ms" [min]="0" [max]="100" mode="decimal" placeholder="%"
                [minFractionDigits]="2"></p-inputNumber>
              </div>
            </div>

            <div class="p-mt-2"></div>

            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                  <app-label label="ED (Mcal/kg MS)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="FDA (%MS)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="FDN (%MS)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="PB (%MS)" [required]="false"></app-label>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.ed" [min]="0" mode="decimal" placeholder="Mcal/kg" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.fda" [min]="0" suffix=" %" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.fdn" [min]="0" suffix=" %" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.pb" [min]="0" suffix=" %" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
            </div>

            <div class="p-mt-2"></div>

            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                  <app-label label="Almidón (%MS)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Fracción A (%PB)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Fracción B (%PB)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Fracción C (%PB)" [required]="false"></app-label>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.almidon" suffix=" %" [min]="0" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.fraccionA" suffix=" %" [min]="0" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.fraccionB" suffix=" %" [min]="0" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.fraccionC" suffix=" %" [min]="0" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
            </div>

            <div class="p-mt-2"></div>

            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                  <app-label label="Digestibilidad PNDR (%PNDR)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="kd Fracción B" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="PNDR (%PB)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Grasa cruda (%MS)" [required]="false"></app-label>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.digestibilidadPndr" suffix=" %" [min]="0" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.kdFraccionB" [min]="0" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.pndr" suffix=" %" [min]="0" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.grasaCruda" [min]="0" suffix=" %" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
            </div>

            <div class="p-mt-2"></div>

            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                  <app-label label="Cenizas (%MS)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Ca (%MS)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="P (%MS)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Na (%MS)" [required]="false"></app-label>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.ceniza" suffix=" %" [min]="0" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.porcentajeCa" suffix=" %" [min]="0" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.porcentajeP" suffix=" %" [min]="0" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.porcentajeNa" suffix=" %" [min]="0" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
            </div>

            <div class="p-mt-2"></div>

            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                  <app-label label="Cl (%MS)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="K (%MS)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Mg (mg/kg)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="S (%MS)" [required]="false"></app-label>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.porcentajeCl" suffix=" %" [min]="0" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.porcentajeK" suffix=" %" [min]="0" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.porcentajeMg" suffix=" %" [min]="0" mode="decimal" placeholder="mg/kg" [minFractionDigits]="2"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.porcentajeS" suffix=" %" [min]="0" [max]="100" mode="decimal" placeholder="%" [minFractionDigits]="2"></p-inputNumber>
              </div>
            </div>

            <div class="p-mt-2"></div>

            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                  <app-label label="Coeficiente absorción Ca (g/g)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Coeficiente absorción P (g/g)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Coeficiente absorción Na (g/g)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Coeficiente absorción Cl (g/g)" [required]="false"></app-label>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.coeficienteAbsorcionCa" [min]="0" mode="decimal" [minFractionDigits]="2" placeholder="g/g"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.coeficienteAbsorcionP" [min]="0" mode="decimal" [minFractionDigits]="2" placeholder="g/g"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.coeficienteAbsorcionNa" [min]="0" mode="decimal" [minFractionDigits]="2" placeholder="g/g"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.coeficienteAbsorcionCl" [min]="0" mode="decimal" [minFractionDigits]="2" placeholder="g/g"></p-inputNumber>
              </div>
            </div>

            <div class="p-mt-2"></div>

            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                  <app-label label="Coeficiente absorción K (g/g)" [required]="false"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Coeficiente absorción Mg (g/g)" [required]="false"></app-label>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.coeficienteAbsorcionK" [min]="0" mode="decimal" [minFractionDigits]="2" placeholder="g/g"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <p-inputNumber [(ngModel)]="bibliotecaDto.coeficienteAbsorcionMg" [min]="0" mode="decimal" [minFractionDigits]="2" placeholder="g/g"></p-inputNumber>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <div class="wrapper">
              <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined" (click)="cancelar()"></button>
              <div class="p-mr-2"></div>
              <button pButton pRipple type="button" class="p-button-success" label="Guardar" (click)="guardar()"></button>
            </div>
          </div>
</p-dialog>
