.p-button-success-app {
  color: #fff;
  background: #069a7e;
  border: 1px solid #0e7774;
}
  
.p-button-success-app:hover {
  background: #0e7774;
  border: 1px solid #0e7774;
}

.tabla-app {
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.fila-grafica {
  padding: 0px !important;
}