<p-dialog header="&nbsp;"
          position="rigth"
          [modal]="true"
          [baseZIndex]="10000"
          [draggable]="false"
          [resizable]="false"
          (onHide)="close()"
          [(visible)]="visible"
          [style]="{width: '550px', height: '230px'}"
          header="¿Esta seguro que desea cancelar la transacción?"
          styleClass="animate__animated animate__fadeInDown">

          <div class="app_brandTopBar__container">
            <span class="verde30"></span>
            <span class="verde50"></span>
            <span class="verde60"></span>
            <span class="verde70"></span>
            <span class="verde100"></span>
          </div>

          <div>
            <span class="descripcion">Si cancela se perderan los datos ingresados o modificaciones realizadas</span>
          </div>
          <div class="modal-footer">
            <div class="wrapper">
              <button pButton pRipple type="button" label="No" class="p-button-outlined" (click)="close()"></button>
              <div class="p-mr-2"></div>
              <button pButton pRipple type="button" class="p-button-success-app" label="Si, estoy seguro" (click)="atras()"></button>
            </div>
          </div>
</p-dialog>
