.margin {
  margin: 5px;
}

.warning {
  background-color: #ffd278;
  color: #5c2e00;
  border-radius: 8px;
  margin-left: 3px;
  border: 1px solid;
}

.success {
  background-color: #73e6ab;
  color: #004225;
  border-radius: 8px;
  margin-left: 3px;
  border: 1px solid;
}

.danger {
  background-color: #ff858f;
  color: #61000b;
  border-radius: 8px;
  margin-left: 3px;
  border: 1px solid;
}

.p-button-success-app {
  color: #fff;
  background: #069a7e;
  border: 1px solid #0e7774;
}
  
.p-button-success-app:hover {
  background: #0e7774;
  border: 1px solid #0e7774;
}

.tabla-balance {
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  padding: 10px;
  border-radius: 15px;
}

.fila-app {
  display: flex;
}

.columan {
  flex: 1; 
  padding: 7px;
}

.columan-nombre {
  flex: 2;
}