<div class="p-grid">
  <div class="p-col-12 p-md-9 p-lg-9">
    <div class="tabla-balance">
      <div class="fila-app margin p-text-bold">
        <div class="columan-nombre">
        </div>
        <div class="columan">
          <app-label [required]="false" label="ENL"
            pTooltip="Energía neta de lactancia" tooltipPosition="top"></app-label>
        </div>
        <div class="columan">
          <app-label [required]="false" label="PM"
          pTooltip="Proteína metabolizable" tooltipPosition="top"></app-label>
        </div>
        <div class="columan">
          <app-label [required]="false" label="Ca"
          pTooltip="Calcio" tooltipPosition="top"></app-label>
        </div>
        <div class="columan">
          <app-label [required]="false" label="P"
          pTooltip="Fósforo" tooltipPosition="top"></app-label>
        </div>
        <div class="columan">
          <app-label [required]="false" label="K"
          pTooltip="Potasio" tooltipPosition="top"></app-label>
        </div>
        <div class="columan">
          <app-label [required]="false" label="Mg"
          pTooltip="Magnesio" tooltipPosition="top"></app-label>
        </div>
      </div>
      <div class="fila-app margin p-text-bold">
        <div class="columan-nombre">
        </div>
        <div class="columan">
          <app-label [required]="false" label="(Mcal/día)"></app-label>
        </div>
        <div class="columan">
          <app-label [required]="false" label="(g/día)"></app-label>
        </div>
        <div class="columan">
          <app-label [required]="false" label="(g/día)"></app-label>
        </div>
        <div class="columan">
          <app-label [required]="false" label="(g/día)"></app-label>
        </div>
        <div class="columan">
          <app-label [required]="false" label="(g/día)"></app-label>
        </div>
        <div class="columan">
          <app-label [required]="false" label="(g/día)"></app-label>
        </div>
      </div>
      <div class="fila-app fila margin">
        <div class="columan-nombre">Mantenimiento</div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.neMaint)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.mpMaint)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.fecalCalcium + balance.urinaryCalcium)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.fecalPhosphorous + balance.urinaryPhosphorous)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.kFecal + balance.kUrinary)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.mgFecal + balance.mgUrinary)}}</span>
        </div>
      </div>
      <div class="fila-app margin">
        <div class="columan-nombre">Crecimiento</div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.growht)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.mpGrowth)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.growthCalcium)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.growthPhosphorous)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.kGrowth)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.mgGrowth)}}</span>
        </div>
      </div>
      <div class="fila-app fila margin">
        <div class="columan-nombre">Lactancia</div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.yEn)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.mpLact)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.lactationCalcium)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.lactationPhosphorous)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.kLactation)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.mgLactation)}}</span>
        </div>
      </div>
      <div class="fila-app margin">
        <div class="columan-nombre">Preñez</div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.nePreg)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.mpPreg)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.pregnancyCalcium)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.pregnancyPhosphorous)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.kPregnancy)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.mgPregnancy)}}</span>
        </div>
      </div>
      <div class="fila-app fila margin p-text-bold">
        <div class="columan-nombre">Total requerido</div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.totalNeRequirement)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.totalMpRequirement)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.caRequirement)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.pRequirement)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.kRequirement)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.mgRequirement)}}</span>
        </div>
      </div>
      <div class="fila-app margin p-text-bold">
        <div class="columan-nombre">Total consumido</div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.totalConsumidoNel)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.totalConsumidoPm)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.totalConsumidoCa)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.totalConsumidoP)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.totalConsumidoK)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.totalConsumidoMg)}}</span>
        </div>
      </div>
      <div class="fila-app fila margin p-text-bold">
        <div class="columan-nombre">Balance</div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.balanceNel)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.balancePm)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.balanceCa)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.balanceP)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.balanceK)}}</span>
        </div>
        <div class="columan p-text-lg-right">
          <span>{{getValor(balance.balanceMg)}}</span>
        </div>
      </div>
      <div class="fila-app margin p-text-bold">
        <div class="columan-nombre">% Requerimiento</div>
        <div class="columan p-text-lg-right {{obteneClaseValor(balance.porcentajeNel)}}">
          <span>{{getValor(balance.porcentajeNel)}}</span>
        </div>
        <div class="columan p-text-lg-right {{obteneClaseValor(balance.porcentajePm)}}">
          <span>{{getValor(balance.porcentajePm)}}</span>
        </div>
        <div class="columan p-text-lg-right {{obteneClaseValor(balance.porcentajeCa)}}">
          <span>{{getValor(balance.porcentajeCa)}}</span>
        </div>
        <div class="columan p-text-lg-right {{obteneClaseValor(balance.porcentajeP)}}">
          <span>{{getValor(balance.porcentajeP)}}</span>
        </div>
        <div class="columan p-text-lg-right {{obteneClaseValor(balance.porcentajeK)}}">
          <span>{{getValor(balance.porcentajeK)}}</span>
        </div>
        <div class="columan p-text-lg-right {{obteneClaseValor(balance.porcentajeMg)}}">
          <span>{{getValor(balance.porcentajeMg)}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-3 p-lg-3">
    <div class="tabla-balance">
      <div class="p-grid">
        <div class="p-col-6 p-md-8 p-lg-8 fila">
          Forraje (%CMSact)
        </div>
        <div class="p-col-6 p-md-4 p-lg-4 p-text-lg-right fila">{{getValor(calculo.porcentajeForraje)}}</div>
        <div class="p-col-6 p-md-8 p-lg-8">
          Concentrado (%CMSact)
        </div>
        <div class="p-col-6 p-md-4 p-lg-4 p-text-lg-right">{{getValor(calculo.porcentajeConcentrado)}}</div>
        <div class="p-col-6 p-md-8 p-lg-8 fila" pTooltip="Fibra detergente neutra" tooltipPosition="top">
          FDN (%CMSact)
        </div>
        <div class="p-col-6 p-md-4 p-lg-4 p-text-lg-right fila">{{getValor(calculo.fdn)}}</div>
        <div class="p-col-6 p-md-8 p-lg-8" pTooltip="Fibra detergente ácida" tooltipPosition="top">
          FDA (%CMSact)
        </div>
        <div class="p-col-6 p-md-4 p-lg-4 p-text-lg-right">{{getValor(calculo.fda)}}</div>
        <div class="p-col-6 p-md-8 p-lg-8 fila">
          Almidón (%CMSact)
        </div>
        <div class="p-col-6 p-md-4 p-lg-4 p-text-lg-right fila">{{getValor(calculo.almidon)}}</div>
        <div class="p-col-6 p-md-8 p-lg-8" pTooltip="Proteína bruta" tooltipPosition="top">
          PB (%CMSact)
        </div>
        <div class="p-col-6 p-md-4 p-lg-4 p-text-lg-right">{{getValor(calculo.pb)}}</div>
        <div class="p-col-6 p-md-8 p-lg-8 fila" pTooltip="Proteína degradable en rumen" tooltipPosition="top">
          PDR (%PB)
        </div>
        <div class="p-col-6 p-md-4 p-lg-4 fila p-text-lg-right">{{getValor(calculo.pdr)}}</div>
        <div class="p-col-6 p-md-8 p-lg-8" pTooltip="Proteína no degradable en rumen" tooltipPosition="top">
          PNDR (%PB)
        </div>
        <div class="p-col-6 p-md-4 p-lg-4 p-text-lg-right">{{getValor(calculo.pndr)}}</div>
      </div>
    </div>
    <span class="p-m-3"></span>
    <div class="tabla-balance">
      <div class="p-grid">
        <div class="p-col-2 p-md-2 p-lg-2">
          <div class="success" style="height: 17px;"></div>
        </div>
        <div class="p-col-10 p-md-10 p-lg-10">
          Requerimiento cubierto.
        </div>
        <div class="p-col-2 p-md-2 p-lg-2">
          <div class="warning" style="height: 17px;"></div>
        </div>
        <div class="p-col-10 p-md-10 p-lg-10">
          Exceso en el aporte.
        </div>
        <div class="p-col-2 p-md-2 p-lg-2">
          <div class="danger" style="height: 17px;"></div>
        </div>
        <div class="p-col-10 p-md-10 p-lg-10">
          Deficiencia en el aporte.
        </div>
      </div>
    </div>
  </div>
</div>
<span class="p-m-2"></span>
<div class="footer">
  <button pButton pRipple type="button" class="p-button-success-app" label="Anterior" icon="pi pi-arrow-left" iconPos="left" (click)="anterior()"></button>
  <div class="p-mr-2"></div>
  <button pButton pRipple type="button" class="p-button-success-app" label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (click)="siguiente()"></button>
</div>