<div class="p-mt-3"></div>
<div class="p-grid margin p-text-bold">
  <div class="p-col-12 p-md-3 p-lg-3">
  </div>
  <div class="p-col-12 p-md-1 p-lg-1">
    <app-label [required]="false" label="NEL"></app-label>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1">
    <app-label [required]="false" label="PM"></app-label>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1">
    <app-label [required]="false" label="Ca"></app-label>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1">
    <app-label [required]="false" label="P"></app-label>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1">
    <app-label [required]="false" label="K"></app-label>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1">
    <app-label [required]="false" label="Mg"></app-label>
  </div>
</div>
<div class="p-grid margin p-text-bold">
  <div class="p-col-12 p-md-3 p-lg-3">
  </div>
  <div class="p-col-12 p-md-1 p-lg-1">
    <app-label [required]="false" label="(Mcal/día)"></app-label>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1">
    <app-label [required]="false" label="(g/día)"></app-label>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1">
    <app-label [required]="false" label="(g/día)"></app-label>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1">
    <app-label [required]="false" label="(g/día)"></app-label>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1">
    <app-label [required]="false" label="(g/día)"></app-label>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1">
    <app-label [required]="false" label="(g/día)"></app-label>
  </div>
</div>
<div class="p-grid fila margin">
  <div class="p-col-12 p-md-3 p-lg-3">Mantenimiento</div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>9,5</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>880,9</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>18,8</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>21,2</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>175,0</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>1,8</span>
  </div>
</div>
<div class="p-grid margin">
  <div class="p-col-12 p-md-3 p-lg-3">Crecimiento</div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>9,5</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>880,9</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>18,8</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>21,2</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>175,0</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>1,8</span>
  </div>
</div>
<div class="p-grid fila margin">
  <div class="p-col-12 p-md-3 p-lg-3">Lactancia</div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>9,5</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>880,9</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>18,8</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>21,2</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>175,0</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>1,8</span>
  </div>
</div>
<div class="p-grid margin">
  <div class="p-col-12 p-md-3 p-lg-3">Preñez</div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>9,5</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>880,9</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>18,8</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>21,2</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>175,0</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>1,8</span>
  </div>
</div>
<div class="p-grid fila margin p-text-bold">
  <div class="p-col-12 p-md-3 p-lg-3">Total requerido</div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>9,5</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>880,9</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>18,8</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>21,2</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>175,0</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>1,8</span>
  </div>
</div>
<div class="p-grid margin p-text-bold">
  <div class="p-col-12 p-md-3 p-lg-3">Total consumido</div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>9,5</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>880,9</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>18,8</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>21,2</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>175,0</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>1,8</span>
  </div>
</div>
<div class="p-grid fila margin p-text-bold">
  <div class="p-col-12 p-md-3 p-lg-3">Balance</div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>9,5</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>880,9</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>18,8</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>21,2</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>175,0</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right">
    <span>1,8</span>
  </div>
</div>
<div class="p-grid margin p-text-bold">
  <div class="p-col-12 p-md-3 p-lg-3">% requerimiento</div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right success">
    <span>9,5</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right danger">
    <span>880,9</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right danger">
    <span>18,8</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right warning">
    <span>21,2</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right warning">
    <span>175,0</span>
  </div>
  <div class="p-col-12 p-md-1 p-lg-1 p-text-lg-right danger">
    <span>1,8</span>
  </div>
</div>
<div class="p-mt-3"></div>
<div class="footer">
  <button pButton pRipple type="button" class="p-button-success" label="Anterior" icon="pi pi-arrow-left" iconPos="left" (click)="anterior()"></button>
  <div class="p-mr-2"></div>
  <button pButton pRipple type="button" class="p-button-success" label="Descargar reporte" icon="pi pi-cloud-download" iconPos="left" (click)="descargar()"></button>
  <div class="p-mr-2"></div>
  <button pButton pRipple type="button" class="p-button-success" label="Guardar simulación" icon="pi pi-save" iconPos="left" (click)="guardar()"></button>
</div>