button {
  min-width: 10rem;
  margin-right: .5rem;
}

@media screen and (max-width: 960px) {
  button {
    width: 100%;
    margin-bottom: .5rem;
  }
}

::ng-deep .p-dropdown {
  width: 80% !important;
}

::ng-deep .p-inputnumber {
  width: 80% !important;
}

::ng-deep .p-picklist-source-controls {
  display: none !important;
}

::ng-deep .p-picklist-target-controls {
  display: none !important;
}

.nombre-descripcion {
  font-size: 12px !important;
  font-weight: bold !important;
}

::ng-deep .panel-div {
  width: 360px !important;
  height: 35vh;
}

::ng-deep .p-button-icon-only {
  background-color: #069a7e;
  border: 1px solid #0e7774 !important;
}

::ng-deep .p-button-icon-only:hover {
  background-color: #0e7774;
  border: 1px solid #0e7774 !important;
}

.p-button-success-app {
  color: #fff;
  background: #069a7e;
  border: 1px solid #0e7774;
}
  
.p-button-success-app:hover {
  background: #0e7774;
  border: 1px solid #0e7774;
}

@media screen and (max-width: 700px) {
  .grid-alimentos-app {
    display: none;
  }

  .span-apk {
    margin-top: 150px;
  }
}

@media screen and (min-width: 700px) {
  .span-apk {
    display: none;
  }
}