<p-dialog header="&nbsp;"
          [modal]="true"
          [baseZIndex]="10000"
          [draggable]="false"
          [resizable]="false"
          [closable]="false"
          [(visible)]="visible"
          [style]="{width: '700px', height: '800px'}"
          header="Términos y condiciones"
          styleClass="animate__animated animate__fadeInDown">

          <div class="app_brandTopBar__container">
            <span class="verde30"></span>
            <span class="verde50"></span>
            <span class="verde60"></span>
            <span class="verde70"></span>
            <span class="verde100"></span>
          </div>

          <div class="app-parrafo div-parrafo">
            <p>
              ¡Bienvenido!. TAURI es un software implementado a partir de los modelos
              desarrollados por el National Research Council (NRC) para vacas lecheras y
              publicados en 2001 y 2021; igualmente, hacen parte del modelo ecuaciones derivadas
              de investigaciones científicas desarrolladas por el Grupo de Investigación en Ciencias
              Agrarias (GRICA) de la Universidad de Antioquia. La biblioteca de alimentos empleada
              por TAURI recopila información de NRC (2021), Rumen8 y BRCORTE 4.0.
            </p>
            <p>
              Al acceder a este sitio Web usted acepta los términos y condiciones de uso que se
              indican a continuación. La navegación por este sitio le atribuye la condición de usuario
              e implica la aceptación plena de las disposiciones incluidas en estas condiciones
              generales de uso.
            </p>
            <h3>Términos generales</h3>
            <p>
              Al acceder y realizar una simulación en TAURI, usted confirma que está de acuerdo y
sujeto a los términos de servicio que se describen a continuación. Estos términos se
aplican a todo el sitio web y a cualquier correo electrónico u otro tipo de comunicación
entre usted y TAURI.
            </p>
            <p>
              Al acceder y realizar una simulación en TAURI, usted confirma que está de acuerdo y
sujeto a los términos de servicio que se describen a continuación. Estos términos se
aplican a todo el sitio web y a cualquier correo electrónico u otro tipo de comunicación
entre usted y TAURI.
            </p>
            <p>
              TAURI no será responsable de ningún resultado que pueda ocurrir durante el curso
del uso de nuestros recursos. Nos reservamos el derecho de cambiar, adicionar o
remover, de manera unilateral, cualquier parte o la totalidad de los presentes términos
y condiciones, en cualquier tiempo y sin previo aviso. Será responsabilidad del usuario
revisar las condiciones generales de uso que sean aplicables cada vez que ingrese a
este sitio.
            </p>
            <h3>Licencia</h3>
            <p>
              TAURI le otorga la posibilidad de usar la plataforma estrictamente de acuerdo con los
términos de este Acuerdo.
            </p>
            <p>
              Estos Términos y condiciones son un contrato entre usted y TAURI (referidos en estos
              Términos y condiciones como &quot;TAURI&quot;, &quot;nosotros&quot;, o &quot;nuestro&quot;), el proveedor del sitio
              web de TAURI y los servicios accesibles desde el sitio web de TAURI (que se
              denominan colectivamente en estos Términos y condiciones como el &quot;Servicio de
              TAURI&quot;).
            </p>
            <p>
              Usted acepta estar sujeto a estos Términos y condiciones. Si no está de acuerdo con
estos Términos y condiciones, no utilice el Servicio TAURI. En estos Términos y
condiciones, &quot;usted&quot; se refiere tanto a usted como individuo como a la entidad que
representa. Si viola cualquiera de estos Términos y condiciones, nos reservamos el
derecho de cancelar su cuenta o bloquear el acceso a su cuenta sin previo aviso.
            </p>
            <h3>Definiciones y términos clave</h3>
            <p>
              Cada vez que se hace referencia a cualquiera de estos términos, se definen
estrictamente como:
            </p>
            <p>
              -Cookie: datos generados por un sitio web y guardados por su navegador web. Se
utiliza para identificar su navegador, proporcionar análisis, recordar información sobre
usted, como su preferencia de idioma o información de inicio de sesión.
-Compañía: cuando estos Términos y Condiciones mencionan &quot;Compañía&quot;,
&quot;nosotros&quot;, &quot;nos&quot; o &quot;nuestro&quot;, se refiere a TAURI, que es responsable de su
información en virtud de estos Términos y Condiciones.
-Plataforma: sitio web de Internet, aplicación web o aplicación digital de cara al
público de TAURI.
-País: donde se encuentra TAURI o los propietarios / fundadores de TAURI, en este
caso es Colombia
-Dispositivo: cualquier dispositivo conectado a Internet, como un teléfono, tablet,
computadora o cualquier otro dispositivo que se pueda usar para visitar TAURI y usar
los servicios.
-Servicio: se refiere al servicio brindado por TAURI.
-Sitio web: el sitio de TAURI, al que se puede acceder a través de esta URL:
www.tauri.com
-Usted: una persona o entidad que está registrada con TAURI para utilizar los
Servicios.
            </p>
            <h3>Restricciones</h3>
            <p>
              Usted acepta no hacerlo y no permitirá que otros:
            </p>
            <p>
              -Licenciar, vender, alquilar, arrendar, asignar, distribuir, transmitir, alojar,
subcontratar, divulgar o explotar comercialmente la plataforma o poner la plataforma a
disposición de terceros.
-Modificar, realizar trabajos derivados, desensamblar, descifrar, realizar una
compilación inversa o realizar ingeniería inversa de cualquier parte de la plataforma.
-Eliminar, alterar u ocultar cualquier aviso de propiedad (incluido cualquier aviso de
derechos de autor o marca registrada).
            </p>
            <h3>Tus sugerencias</h3>
            <p>
              Cualquier, comentario, idea, mejora o sugerencia (colectivamente, &quot;Sugerencias&quot;) que
usted proporcione a TAURI con respecto a la plataforma seguirá siendo propiedad
única y exclusiva de TAURI.
            </p>
            <p>
              TAURI tendrá la libertad de usar, copiar, modificar, publicar o redistribuir las
Sugerencias para cualquier propósito y de cualquier manera sin ningún crédito o
compensación para usted.
            </p>
            <h3>Tu consentimiento</h3>
            <p>
              Hemos actualizado nuestros Términos y condiciones para brindarle total transparencia
sobre lo que se establece cuando visita nuestro sitio y cómo se utiliza. Al utilizar
nuestra plataforma o registrar una cuenta, por la presente acepta nuestros Términos y
condiciones.
            </p>
            <h3>Cookies</h3>
            <p>
              TAURI utiliza &quot;cookies&quot; para identificar las áreas de nuestro sitio web que ha visitado.
Una cookie es una pequeña porción de datos que su navegador web almacena en su
computadora o dispositivo móvil. Usamos cookies para mejorar el rendimiento y la
funcionalidad de nuestra plataforma, pero no son esenciales para su uso. Sin
embargo, sin estas cookies, es posible que ciertas funciones no estén disponibles o se
le solicitará que ingrese sus datos de inicio de sesión cada vez que visite la
plataforma, ya que no podríamos recordar que había iniciado sesión anteriormente. La
mayoría de los navegadores web se pueden configurar para desactivar el uso de
cookies. Sin embargo, si desactiva las cookies, es posible que no pueda acceder a la
funcionalidad de nuestro sitio web correctamente o en absoluto. Nunca colocamos
información de identificación personal en cookies.
            </p>
            <h3>Cambios en nuestros Términos y Condiciones</h3>
            <p>
              Usted reconoce y acepta que TAURI puede dejar de brindarle (de forma permanente o
temporal) el Servicio (o cualquier función dentro del Servicio) a usted o a los usuarios
en general, a discreción exclusiva de TAURI, sin previo aviso. Puede dejar de utilizar
el Servicio en cualquier momento. No es necesario que informe específicamente a
TAURI cuando deje de usar el Servicio. Usted reconoce y acepta que si TAURI
deshabilita el acceso a su cuenta, es posible que no pueda acceder al Servicio, los
detalles de su cuenta o cualquier archivo u otro material contenido en su cuenta.
            </p>
            <p>
              Si decidimos cambiar nuestros Términos y condiciones, publicaremos esos cambios
en esta página y / o actualizaremos la fecha de modificación de los Términos y
condiciones a continuación.
            </p>
            <h3>Modificaciones a nuestra plataforma</h3>
            <p>
              TAURI se reserva el derecho de modificar, suspender o interrumpir, temporal o
permanentemente, la plataforma o cualquier servicio al que se conecte, con o sin
previo aviso y sin responsabilidad ante usted.
            </p>
            <h3>Actualizaciones a nuestra plataforma</h3>
            <p>
              TAURI puede, de vez en cuando, proporcionar mejoras a las características /
funcionalidad de la plataforma, que pueden incluir parches, corrección de errores,
actualizaciones, mejoras y otras modificaciones (&quot;Actualizaciones&quot;).
            </p>
            <p>Las actualizaciones pueden modificar o eliminar ciertas características y / o
              funcionalidades de la plataforma. Usted acepta que TAURI no tiene la obligación de (i)
              proporcionar Actualizaciones, o (ii) continuar proporcionándole o habilitando
              características y / o funcionalidades particulares de la plataforma.
            </p>
            <p>
              Además, acepta que todas las Actualizaciones (i) se considerarán una parte integral
de la plataforma y (ii) estarán sujetas a los términos y condiciones de este Acuerdo.
            </p>
            <h3>Servicios de Terceros</h3>
            <p>
              Podemos mostrar, incluir o poner a disposición contenido de terceros (incluidos datos,
información, aplicaciones y otros servicios de productos) o proporcionar enlaces a
sitios web o servicios de terceros (&quot;Servicios de terceros&quot;).
            </p>
            <p>
              Usted reconoce y acepta que TAURI no será responsable de ningún Servicio de
terceros, incluida su precisión, integridad, puntualidad, validez, cumplimiento de los
derechos de autor, legalidad, decencia, calidad o cualquier otro aspecto de los
mismos. TAURI no asume ni tendrá ninguna obligación o responsabilidad ante usted o
cualquier otra persona o entidad por los Servicios de terceros.
            </p>
            <p>
              Los Servicios de terceros y los enlaces a los mismos se brindan únicamente para su
conveniencia y usted accede a ellos y los usa completamente bajo su propio riesgo y
sujeto a los términos y condiciones de dichos terceros.
            </p>
            <h3>Duración y Terminación</h3>
            <p>
              Este Acuerdo permanecerá en vigor hasta que usted o TAURI lo rescindan.
            </p>
            <p>
              TAURI puede, a su entera discreción, en cualquier momento y por cualquier motivo o
sin él, suspender o rescindir este Acuerdo con o sin previo aviso.
            </p>
            <p>
              Este Acuerdo terminará inmediatamente, sin previo aviso de TAURI, en caso de que
no cumpla con alguna de las disposiciones de este Acuerdo. También puede rescindir
este Acuerdo eliminando la plataforma y todas las copias del mismo de su
computadora.
            </p>
            <p>
              Tras la rescisión de este Acuerdo, deberá dejar de utilizar la plataforma y eliminar
todas las copias de la plataforma de su computadora.
            </p>
            <p>
              La rescisión de este Acuerdo no limitará ninguno de los derechos o recursos de
TAURI por ley o en equidad en caso de incumplimiento por su parte (durante la
vigencia de este Acuerdo) de cualquiera de sus obligaciones en virtud del presente
Acuerdo.
            </p>
            <h3>Aviso de infracción de Derechos de Autor</h3>
            <p>
              Si usted es propietario de los derechos de autor o el agente de dicho propietario y
cree que cualquier material de nuestra plataforma constituye una infracción de sus
derechos de autor, comuníquese con nosotros y proporcione la siguiente información:
(a) una firma física o electrónica del propietario de los derechos de autor o una
persona autorizada para actuar en su nombre; (b) identificación del material que se
alega infringe; (c) su información de contacto, incluida su dirección, número de
teléfono y un correo electrónico; (d) una declaración suya de que cree de buena fe
que el uso del material no está autorizado por los propietarios de los derechos de
autor; y (e) la declaración de que la información en la notificación es precisa y, bajo
pena de perjurio, usted está autorizado a actuar en nombre del propietario.
            </p>
            <h3>Indemnización</h3>
            <p>
              Usted acepta indemnizar y eximir de responsabilidad a TAURI de cualquier reclamo o
demanda, incluidos los honorarios razonables de abogados, debido a que surja de su:
(a) uso de la plataforma; (b) violación de este Acuerdo o cualquier ley o reglamento; o
(c) violación de cualquier derecho de un tercero.
            </p>
            <h3>Sin garantías</h3>
            <p>
              La plataforma se le proporciona &quot;TAL CUAL&quot; y &quot;SEGÚN DISPONIBILIDAD&quot; y con
todas las fallas y defectos sin garantía de ningún tipo. En la medida máxima permitida
por la ley aplicable, TAURI, en su propio nombre, renuncia expresamente a todas las
garantías, ya sean expresas, implícitas, legales o de otro tipo, con respecto a la
plataforma, incluidas, idoneidad para un propósito particular y garantías que puedan
surgir del curso del desempeño, el uso o la práctica comercial. Sin limitación a lo
anterior, TAURI no ofrece garantía ni compromiso, y no hace ninguna representación
de ningún tipo de que la plataforma cumplirá con sus requisitos, logrará los resultados
previstos, será compatible o funcionará con cualquier otro software, sitios web,
sistemas o servicios, operen sin interrupciones, cumplan con los estándares de
rendimiento o confiabilidad o que no tengan errores o que cualquier error o defecto
puede o será corregido.
            </p>
            <p>
              Sin limitar lo anterior, ni TAURI ni ningún proveedor de TAURI hace ninguna
representación o garantía de ningún tipo, expresa o implícita: (i) en cuanto al
funcionamiento o disponibilidad de la plataforma, o la información, contenido y

materiales o productos incluidos en el mismo; (ii) que la plataforma será ininterrumpida
o libre de errores; (iii) en cuanto a la precisión, confiabilidad o vigencia de cualquier
información o contenido proporcionado a través de la plataforma; o (iv) que la
plataforma, sus servidores, el contenido o los correos electrónicos enviados desde o
en nombre de TAURI están libres de virus, scripts, troyanos, gusanos, malware,
bombas de tiempo u otros componentes nocivos.
            </p>
            <p>
              Algunas jurisdicciones no permiten la exclusión o las limitaciones de las garantías
              implícitas o las limitaciones de los derechos legales aplicables de un consumidor, por
              lo que algunas o todas las exclusiones y limitaciones anteriores pueden no aplicarse
              en su caso.
            </p>
            <h3>Limitación de Responsabilidad</h3>
            <p>
              En la máxima medida permitida por la ley aplicable, en ningún caso TAURI será
responsable de ningún daño especial, incidental, indirecto o consecuente de ningún
tipo (incluidos, entre otros, daños por lucro cesante, por pérdida de datos u otra
información, por interrupción del negocio, por lesiones personales, por la pérdida de
privacidad que surja de alguna manera relacionada con el uso o la imposibilidad de
usar la plataforma, software de terceros y / o - hardware de terceros utilizado con la
plataforma, o de otro modo en relación con cualquier disposición de este Acuerdo),
incluso si TAURI o cualquier proveedor ha sido informado de la posibilidad de tales
daños e incluso si el recurso no cumple con su propósito esencial.
            </p>
            <p>
              Algunos estados / jurisdicciones no permiten la exclusión o limitación de daños
incidentales o consecuentes, por lo que es posible que la limitación o exclusión
anterior no se aplique en su caso.
            </p>
            <h3>Divisibilidad</h3>
            <p>
              Si alguna disposición de este Acuerdo se considera inaplicable o inválida, dicha
disposición se cambiará e interpretará para lograr los objetivos de dicha disposición en
la mayor medida posible según la ley aplicable y las disposiciones restantes
continuarán en pleno vigor y efecto.
            </p>
            <p>
              Este Acuerdo, junto con la Política de privacidad y cualquier otro aviso legal publicado
              por TAURI en los Servicios, constituirá el acuerdo completo entre usted y TAURI con
              respecto a los Servicios. Si alguna disposición de este Acuerdo es considerada
              inválida por un tribunal de jurisdicción competente, la invalidez de dicha disposición no
              afectará la validez de las disposiciones restantes de este Acuerdo, que permanecerán
              en pleno vigor y efecto. Ninguna renuncia a cualquier término de este Acuerdo se
              considerará una renuncia adicional o continua de dicho término o cualquier otro
              término, y el hecho de que TAURI no haga valer ningún derecho o disposición en
              virtud de este Acuerdo no constituirá una renuncia a dicho derecho o provisión.
            </p>
            <h3>Renuncia</h3>
            <p>
              Salvo lo dispuesto en el presente, el hecho de no ejercer un derecho o exigir el
cumplimiento de una obligación en virtud de este Acuerdo no afectará la capacidad de
una de las partes para ejercer dicho derecho o requerir dicho cumplimiento en
cualquier momento posterior, ni constituirá la renuncia a una infracción o cualquier
incumplimiento posterior.
            </p>
            <p>
              Ninguna falla en el ejercicio, ni demora en el ejercicio, por parte de cualquiera de las
partes, de cualquier derecho o poder bajo este Acuerdo operará como una renuncia a
ese derecho o poder. El ejercicio único o parcial de cualquier derecho o poder en
virtud de este Acuerdo tampoco impedirá el ejercicio posterior de ese o cualquier otro
derecho otorgado en este documento.
            </p>
            <h3>Enmiendas a este Acuerdo</h3>
            <p>
              TAURI se reserva el derecho, a su entera discreción, de modificar o reemplazar este
Acuerdo en cualquier momento. Lo que constituye un cambio material se determinará
a nuestro exclusivo criterio.
            </p>
            <h3>Acuerdo completo</h3>
            <p>
              El Acuerdo constituye el acuerdo completo entre usted y TAURI con respecto a su uso
de la plataforma y reemplaza todos los acuerdos escritos u orales anteriores y
contemporáneos entre usted y TAURI.
            </p>
            <p>
              Es posible que esté sujeto a términos y condiciones adicionales que se aplican
cuando usa los servicios de TAURI.
            </p>
            <h3>Propiedad intelectual</h3>
            <p>
              El sitio web/aplicación y todo su contenido, características y funcionalidad (incluidos,
entre otros, toda la información, el software, el texto, las pantallas, las imágenes, el
video y el audio, y el diseño, la selección y la disposición de los mismos), son
propiedad de TAURI u otros proveedores de dicho material y están protegidos por las
leyes colombianas e internacionales de derechos de autor, marcas registradas,
patentes, secretos comerciales y otras leyes de propiedad intelectual o derechos de
propiedad. El material no puede copiarse, modificarse, reproducirse, descargarse o
distribuirse de ninguna manera, en su totalidad o en parte, sin el permiso expreso
previo por escrito de TAURI, a menos y excepto que se disponga expresamente en
estos Términos y condiciones. Cualquier uso no autorizado del material está
prohibido.
            </p>
            <h3>Descargo de Responsabilidad</h3>
            <p>
              TAURI no es responsable de ningún contenido, código o cualquier otra imprecisión.
            </p>
            <p>TAURI no ofrece garantías.</p>
            <p>
              En ningún caso TAURI será responsable de ningún daño especial, directo, indirecto,
consecuente o incidental o de cualquier daño, ya sea en una acción contractual,
negligencia u otro agravio, que surja de o en conexión con el uso del Servicio o el
contenido del Servicio. TAURI se reserva el derecho de realizar adiciones,
eliminaciones o modificaciones al contenido del Servicio en cualquier momento sin
previo aviso.
            </p>
            <p>
              El Servicio TAURI y su contenido se proporcionan &quot;tal cual&quot; y &quot;según esté disponible&quot;
sin ninguna garantía. TAURI no es un editor del contenido proporcionado por terceros;
como tal, TAURI no ejerce ningún control editorial sobre dicho contenido y no ofrece
ninguna garantía o representación en cuanto a la precisión, confiabilidad o vigencia de
cualquier información, contenido o servicio accesible a través del Servicio TAURI.
            </p>
            <h3>Contáctenos</h3>
            <p>
              No dude en contactarnos si tiene alguna pregunta.
            </p>
            <p>
              -A través de correo electrónico: taurimodel@gmail.com
            </p>
          </div>

          <div class="modal-footer">
            <div class="wrapper">
              <button pButton pRipple type="button" label="Rechazar" class="p-button-outlined" (click)="cancelar()"></button>
              <div class="p-mr-2"></div>
              <button pButton pRipple type="button" class="p-button-success-app" label="Aceptar" (click)="aceptar()"></button>
            </div>
          </div>
</p-dialog>
