<div class="div-body animate__animated animate__fadeInDown">
  <div>
    <app-alerts [text]="text" type="success" *ngIf="text != ''" (change)="text = ''"></app-alerts>
    <button pButton pRipple type="button" label="Nueva simulación" icon="pi pi-plus" class="p-button-success-app" (click)="nuevoReporte()"></button>
    <div class="p-mt-2"></div>
    <div class="descripcion div-info " *ngIf="resportes == null || resportes.length == 0">
      <div style="display: flex;">
        <img style="margin: auto;" src="./assets/info.png">
      </div>
      <div class="p-mt-4"></div>
      <div style="font-size: 18px; font-family: 'Open sans'; display: flex;">
        <div style="margin: auto;">
          No se encontraron reportes asociados a tu usuario, crea uno para visualizarlo en esta pantalla.
        </div>        
      </div>
    </div>
    <p-table *ngIf="resportes.length > 0" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
      currentPageReportTemplate="{first} - {last} de {totalRecords} reportes" [rowsPerPageOptions]="[10,25,50]" [value]="resportes"
      [scrollable]="true" scrollHeight="65vh"  styleClass="p-datatable-striped" sortMode="single" [autoLayout]="true">
      <ng-template pTemplate="header">
          <tr>
              <th  pSortableColumn="nombre">
                Nombre de la simulación
                <p-sortIcon field="nombre"></p-sortIcon>
              </th>
              <th class="column-app">País</th>
              <th class="column-app"  pSortableColumn="departamento">
                Departamento/Estado
                <p-sortIcon field="departamento"></p-sortIcon>
              </th>
              <th class="column-app"  pSortableColumn="municipio">
                Municipio
                <p-sortIcon field="municipio"></p-sortIcon>
              </th>
              <th  pSortableColumn="fechaCreacion">
                Fecha de creación
                <p-sortIcon field="fechaCreacion"></p-sortIcon>
              </th>
              <th></th>
          </tr>
          <tr class="column-app">
            <th>
              <p-columnFilter type="text" field="nombreReporte" [showMenu]="false" [matchMode]="'contains'"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="pais" [showMenu]="false" [matchMode]="'contains'"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="departamento.nombreDepartamento" [showMenu]="false" [matchMode]="'contains'"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="municipio.municipio" [showMenu]="false" [matchMode]="'contains'"></p-columnFilter>
            </th>
            <th></th>
            <th class="td-actions" class="column-app"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
          <tr>
              <td>{{customer.nombreReporte}}</td>
              <td class="column-app">{{customer.departamento.pais.pais}}</td>
              <td class="column-app">{{customer.departamento.nombreDepartamento}}</td>
              <td class="column-app">{{customer.municipio.municipio}}</td>
              <td>{{customer.fechaCreacion | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td class="td-actions">
                <span class="pi pi-pencil funcionalidad animate__animated animate__zoomIn"
                  pTooltip="Editar simulación"
                  tooltipPosition="top"
                  p-tooltip-text (click)="editar(customer)"></span>

                  <span class="pi pi-copy funcionalidad animate__animated animate__zoomIn"
                  pTooltip="Crear una copia de la simulación"
                  tooltipPosition="top"
                  p-tooltip-text (click)="copia(customer)"></span>

                  <span class="pi pi-cloud-download funcionalidad animate__animated animate__zoomIn"
                  pTooltip="Descargar reporte"
                  tooltipPosition="top"
                  p-tooltip-text (click)="descargar(customer)"></span>
              </td>
          </tr>
      </ng-template>
    </p-table>
  </div>
</div>

