<div class="div-body">
  <div>
    <button pButton pRipple type="button" label="Nuevo reporte" icon="pi pi-plus" class="p-button-success" (click)="nuevoReporte()"></button>
    <div class="p-mt-2"></div>
    <p-table [value]="customers" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
      currentPageReportTemplate="{first} - {last} de {totalRecords} reportes" [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
          <tr>
              <th>Nombre del reporte</th>
              <th>País</th>
              <th>Departamento/Estado</th>
              <th>Municipio</th>
              <th>Fecha de creación</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
          <tr>
              <td>{{customer.name}}</td>
              <td>{{customer.country.name}}</td>
              <td>{{customer.company}}</td>
              <td>{{customer.representative.name}}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-table>
  </div>
</div>

