<div class="div-body animate__animated animate__fadeInDown">
  <p-tabView [(activeIndex)]="activeIndex1">
    <p-tabPanel>
      <div class="p-mt-3"></div>
      <ng-template pTemplate="header">
        <i class="pi pi-calendar"></i>
        <div class="p-mr-2"></div>
        <span>Información general de la simulación</span>
        </ng-template>
        <app-alerts [text]="text" type="danger" *ngIf="text != ''" (change)="text = ''"></app-alerts>
        <p-accordion [multiple]="true">
          <p-accordionTab header="Información general" [selected]="true">
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Nombre de la simulación"></app-label>
              </div>
              <div class="p-col-12 p-md-6 p-lg-8">
                <input type="text" pInputText [(ngModel)]="entrada.nombreReporte" [required]="true" id="nombreReporte">
              </div>
            </div>
  
            <div class="p-mt-2"></div>
  
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-4">
                  <app-label label="País"></app-label>

                  <p-dropdown [options]="paises" [(ngModel)]="entrada.departamento?.pais.id" styleClass="width_full"
                  placeholder="Seleccione..." optionLabel="pais" optionValue="id" (onChange)="consultarDepartamentos($event)"
                  [showClear]="true" optionDisabled="inactive" [required]="true">
                </p-dropdown>
              </div>
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Departamento/Estado"></app-label>

                <p-dropdown [options]="departamentos" [(ngModel)]="entrada.departamentoDto" styleClass="width_full"
                placeholder="Seleccione..." optionLabel="nombreDepartamento" optionValue="id"
                [showClear]="true" optionDisabled="inactive" [required]="true" (onChange)="consultarMunicipios($event)">
              </p-dropdown>
              </div>
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Municipio"></app-label>

                <p-dropdown [options]="municipios" [(ngModel)]="entrada.municipioDto" styleClass="width_full"
                placeholder="Seleccione..." optionLabel="municipio" optionValue="id"
                [showClear]="true" optionDisabled="inactive" [required]="true">
              </p-dropdown>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="Descripción del animal" [selected]="true">
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Raza"></app-label>

                <p-dropdown [options]="razas" [(ngModel)]="entrada.raza" styleClass="width_full"
                placeholder="Seleccione..." optionLabel="nombre" optionValue="nombre"
                [showClear]="true" optionDisabled="inactive" [required]="true">
              </p-dropdown>
              </div>
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Tipo de animal"></app-label>

                <p-dropdown [options]="tipos" [(ngModel)]="entrada.tipoAnimal" styleClass="width_full"
                  placeholder="Seleccione..." optionLabel="nombre" optionValue="nombre"
                  [showClear]="true" optionDisabled="inactive" [required]="true">
                </p-dropdown>
                <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Tipo de animal')"></span>
              </div>
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Peso corporal"></app-label>

                <p-inputNumber [(ngModel)]="entrada.pesoCorporal" suffix=" kg" [min]="0" mode="decimal" style="width: 80% !important"
                [required]="true" decimalSeparator="," thousandSeparator="." placeholder="kg"></p-inputNumber>
                <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Peso corporal')"></span>
              </div>
            </div>
  
            <div class="p-mt-2"></div>
  
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Condición corporal"></app-label>

                <p-dropdown [options]="condiciones" [(ngModel)]="entrada.condicionCorporal" styleClass="width_full"
                placeholder="Seleccione..." [showClear]="true" optionDisabled="inactive" [required]="true">
                </p-dropdown>
                <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Condición corporal')"></span>
              </div>
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Días en leche"></app-label>

                <p-inputNumber [(ngModel)]="entrada.diasLeche" suffix=" días" [min]="0" mode="decimal" placeholder="días" [required]="true" style="width: 80% !important"></p-inputNumber>
                <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Días en leche')"></span>
              </div>
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Días de preñez"></app-label>

                <p-inputNumber [(ngModel)]="entrada.diasPrenez" suffix=" días" [min]="0" mode="decimal" placeholder="días" [required]="true" style="width: 80% !important"></p-inputNumber>
                <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Días de preñez')"></span>
              </div>
            </div>
  
            <div class="p-mt-2"></div>
  
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Número de partos"></app-label>

                <p-dropdown [options]="partos" [(ngModel)]="entrada.numeroParto" styleClass="width_full"
                  placeholder="Seleccione..." optionLabel="label" optionValue="value" (onChange)="consultarDepartamentos($event)"
                  [showClear]="true" optionDisabled="inactive" [required]="true">
                </p-dropdown>
                <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Número de partos')"></span>
              </div>
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Intervalo entre partos"></app-label>

                <p-inputNumber [(ngModel)]="entrada.intervaloParto" suffix=" días" [min]="0" mode="decimal" placeholder="días" [required]="true" style="width: 80% !important"
                [min]="(entrada.numeroParto > 0) ? 305 : 0" [max]="(entrada.numeroParto == 0) ? 0 : 1000"></p-inputNumber>
                <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Intervalo entre partos')"></span>
              </div>
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Ganancia de peso, kg/día"></app-label>

                <p-inputNumber [(ngModel)]="entrada.gananciaPeso" suffix=" kg/día" [min]="0" mode="decimal" placeholder="kg" [required]="true" [minFractionDigits]="2" style="width: 80% !important"></p-inputNumber>
                <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Ganancia de peso')"></span>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="Producción" [selected]="true">  
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Producción de leche, litros/día"></app-label>

                <p-inputNumber [(ngModel)]="entrada.produccionLeche" [min]="0" mode="decimal" [required]="true" [minFractionDigits]="2" placeholder="litros/día" style="width: 80% !important"></p-inputNumber>
                <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Producción de leche')"></span>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Precio de venta ($/litro)"></app-label>

                <p-inputNumber [(ngModel)]="entrada.precioVenta" prefix="$ " mode="decimal" [minFractionDigits]="2" placeholder="$" [required]="true"
                decimalSeparator="," thousandSeparator="." style="width: 80% !important"></p-inputNumber>
              </div>
            </div>
            
            <div class="p-mt-2"></div>
            <label>Composición de la leche</label>
            <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Composición de la leche')"></span>
            <div class="p-mt-2"></div>

            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Grasa"></app-label>

                <p-inputNumber [(ngModel)]="entrada.grasa" suffix=" %" [min]="0" [max]="100" mode="decimal" [minFractionDigits]="2" placeholder="%" [required]="true"
                decimalSeparator="," thousandSeparator="." style="width: 80% !important"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Proteína cruda"></app-label>

                <p-inputNumber [(ngModel)]="entrada.proteinaCruda" suffix=" %" [min]="0" [max]="100" mode="decimal" [minFractionDigits]="2" placeholder="%" [required]="true"
                decimalSeparator="," thousandSeparator="." style="width: 80% !important"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-3">
                <app-label label="Lactosa"></app-label>

                <p-inputNumber [(ngModel)]="entrada.lactosa" suffix=" %" [min]="0" [max]="100" mode="decimal" [minFractionDigits]="2" placeholder="%" [required]="true"
                  decimalSeparator="," thousandSeparator="." style="width: 80% !important"></p-inputNumber>
              </div>
            </div>
            <p-divider></p-divider>
            <h3>Manejo</h3>
  
            <div class="p-grid">
              <div class="field-radiobutton">
                <p-radioButton name="radioManejo" value="confinamiento" [(ngModel)]="entrada.manejo"></p-radioButton>
                <label class="p-text-bold label">&nbsp;Confinamiento</label>
              </div>
              <div class="p-mr-3"></div>
              <div class="field-radiobutton">
                <p-radioButton name="radioManejo" value="pastoreo" [(ngModel)]="entrada.manejo"></p-radioButton>
                <label class="p-text-bold label">&nbsp;Pastoreo</label>
              </div>
            </div>
            <div class="p-mt-3"></div>
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Distancia entre la sala ordeño y la pradera" [required]="entrada.manejo == 'pastoreo'"></app-label>

                <p-inputNumber [(ngModel)]="entrada.distancia" suffix=" m" [min]="0" [disabled]="entrada.manejo == 'confinamiento'"
                  mode="decimal" [minFractionDigits]="2" placeholder="m" [required]="entrada.manejo == 'pastoreo'"
                  decimalSeparator="," thousandSeparator="." style="width: 80% !important"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Número de viajes" [required]="entrada.manejo == 'pastoreo'"></app-label>

                <p-inputNumber [(ngModel)]="entrada.numeroViajes" [disabled]="entrada.manejo == 'confinamiento'"
                  [min]="0" mode="decimal" [required]="entrada.manejo == 'pastoreo'" style="width: 80% !important"></p-inputNumber>
              </div>
              <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="Topografía" [required]="entrada.manejo == 'pastoreo'"></app-label>

                <p-dropdown [options]="tipografias" [(ngModel)]="entrada.tipografia" styleClass="width_full"
                  placeholder="Seleccione..." optionLabel="nombre" optionValue="nombre"
                  [showClear]="true" optionDisabled="inactive"
                  [disabled]="entrada.manejo == 'confinamiento'" [required]="entrada.manejo == 'pastoreo'">
                </p-dropdown>
              </div>
            </div>
          </p-accordionTab>
      </p-accordion>
      <div class="p-mt-3"></div>
      <div class="footer">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined" (click)="cancelar = true"></button>
        <div class="p-mr-2"></div>
        <button pButton pRipple type="button" class="p-button-success-app" label="Continuar" icon="pi pi-arrow-right" iconPos="right" (click)="siguiente()"></button>
      </div>
      <div class="p-mt-4"></div>
    </p-tabPanel>
    <p-tabPanel [disabled]="activeIndex1 != 1">
      <ng-template pTemplate="header">
        <i class="pi pi-chart-bar"></i>
        <div class="p-mr-2"></div>
        <span>Alimentos</span>
      </ng-template>
      <app-alimentos [alimentosSeleccionados]="alimentosSeleccionados" [dieta]="dieta" (confirmar)="confirmarAlimentos($event)" (atras)="tabAnterior()"></app-alimentos>
    </p-tabPanel>
    <p-tabPanel [disabled]="activeIndex1 != 2">
      <ng-template pTemplate="header">
        <i class="pi pi-server"></i>
        <div class="p-mr-2"></div>
        <span>Dieta</span>
      </ng-template>
      <app-dieta *ngIf="activeIndex1 == 2" [alimentosSeleccionados]="alimentosSeleccionados" (atras)="tabAnterior()"
        [alimentos]="dieta" [entradas]="entrada" (confirmar)="dieta = $event" (continuar)="tabSiguiente()"
        (info)="abrirInfo($event)"></app-dieta>
    </p-tabPanel>
    <p-tabPanel [disabled]="activeIndex1 != 3">
      <ng-template pTemplate="header">
        <i class="pi pi-chart-line"></i>
        <div class="p-mr-2"></div>
        <span>Balance</span>
      </ng-template>
      <app-balance *ngIf="activeIndex1 == 3" [data]="{entradaDto: entrada, dietaDtos: dieta}" 
      (atras)="tabAnterior()" (confirmar)="tabSiguiente()"></app-balance>
    </p-tabPanel>
    <p-tabPanel [disabled]="activeIndex1 != 4">
      <ng-template pTemplate="header">
        <i class="pi pi-chart-pie"></i>
        <div class="p-mr-2"></div>
        <span>Emisión GEI</span>
      </ng-template>
      <app-emision *ngIf="activeIndex1 == 4" [data]="{entradaDto: entrada, dietaDtos: dieta}" 
      (atras)="tabAnterior()" (confirmar)="tabSiguiente()" (info)="abrirInfo($event)"></app-emision>
    </p-tabPanel>
    <p-tabPanel [disabled]="activeIndex1 != 5">
      <ng-template pTemplate="header">
        <i class="pi pi-dollar"></i>
        <div class="p-mr-2"></div>
        <span>Relación beneficio - costo</span>
      </ng-template>
      <app-relacion *ngIf="activeIndex1 == 5" [data]="{entradaDto: entrada, dietaDtos: dieta}" 
      (atras)="tabAnterior()" (confirmar)="guardar(false)" 
      (abriDescargar)="guardar(true)" (info)="abrirInfo($event)"></app-relacion>
    </p-tabPanel>
  </p-tabView>
</div>

<app-cancelar [visible]="cancelar" (change)="cancelar = false"></app-cancelar>
<app-informacion [visible]="informacion" (closed)="informacion = false" [tipo]="tipo"></app-informacion>
