<div class="div-body">
  <p-tabView [(activeIndex)]="activeIndex1">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-calendar"></i>
        <div class="p-mr-2"></div>
        <span>Información general del reporte</span>
        </ng-template>
          <app-alerts [text]="text" type="danger" *ngIf="text != ''" (change)="text = ''"></app-alerts>
          <h3>Información general</h3>

          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
              <app-label label="Nombre del reporte"></app-label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-8">
              <input type="text" pInputText [(ngModel)]="nombreReporte" [required]="true" id="nombreReporte">
            </div>
          </div>

          <div class="p-mt-2"></div>

          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
                <app-label label="País"></app-label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <app-label label="Departamento/Estado"></app-label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <app-label label="Municipio"></app-label>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
              <p-dropdown [options]="paises" [(ngModel)]="pais" styleClass="width_full"
                placeholder="Seleccione..." optionLabel="nombre" optionValue="nombre"
                [showClear]="true" optionDisabled="inactive" [required]="true">
              </p-dropdown>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <p-dropdown [options]="departamentos" [(ngModel)]="departamento" styleClass="width_full"
                placeholder="Seleccione..." optionLabel="nombreDepartamento" optionValue="id"
                [showClear]="true" optionDisabled="inactive" [required]="true" (onChange)="consultarMunicipios($event)"
                [disabled]="pais == null">
              </p-dropdown>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <p-dropdown [options]="municipios" [(ngModel)]="municipio" styleClass="width_full"
                placeholder="Seleccione..." optionLabel="municipio" optionValue="id"
                [showClear]="true" optionDisabled="inactive" [required]="true">
              </p-dropdown>
            </div>
          </div>

          <p-divider></p-divider>
          <h3>Descripción del animal</h3>

          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
              <app-label label="Raza"></app-label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <app-label label="Tipo de animal"></app-label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <app-label label="Peso corporal"></app-label>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
              <p-dropdown [options]="razas" [(ngModel)]="raza" styleClass="width_full"
                placeholder="Seleccione..." optionLabel="nombre" optionValue="nombre"
                [showClear]="true" optionDisabled="inactive" [required]="true">
              </p-dropdown>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <p-dropdown [options]="tipos" [(ngModel)]="tipoAnimal" styleClass="width_full"
                placeholder="Seleccione..." optionLabel="nombre" optionValue="nombre"
                [showClear]="true" optionDisabled="inactive" [required]="true">
              </p-dropdown>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <p-inputNumber [(ngModel)]="peso" suffix=" Kg" [min]="0" [max]="100" mode="decimal" [required]="true"></p-inputNumber>
            </div>
          </div>

          <div class="p-mt-2"></div>

          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
              <app-label label="Condición corporal"></app-label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <app-label label="Días en leche"></app-label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <app-label label="Días de preñez"></app-label>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
              <p-inputNumber [(ngModel)]="condicion" [min]="1" [max]="5" mode="decimal" placeholder="1-5" [required]="true"></p-inputNumber>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <p-inputNumber [(ngModel)]="diasPrenez" suffix=" Días" [min]="0" [max]="100" mode="decimal" placeholder="Días" [required]="true"></p-inputNumber>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <p-inputNumber [(ngModel)]="diasLecha" suffix=" Días" [min]="0" [max]="100" mode="decimal" placeholder="Días" [required]="true"></p-inputNumber>
            </div>
          </div>

          <div class="p-mt-2"></div>

          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
              <app-label label="Número de partos"></app-label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <app-label label="Intervalo entre partos"></app-label>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
              <p-inputNumber [(ngModel)]="numeroPartos" [min]="0" [max]="100" mode="decimal" [required]="true"></p-inputNumber>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <p-inputNumber [(ngModel)]="intervaloPartos" suffix=" Días" [min]="0" [max]="100" mode="decimal" placeholder="Días" [required]="true"></p-inputNumber>
            </div>
          </div>

          <p-divider></p-divider>
          <h3>Producción</h3>
          <label>Composición de la leche</label>
          <div class="p-mt-2"></div>

          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-3">
              <app-label label="Grasa"></app-label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
              <app-label label="Proteína cruda"></app-label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
              <app-label label="Lactosa"></app-label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
              <app-label label="Precio de venta (Litro)"></app-label>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-3">
              <p-inputNumber [(ngModel)]="porGrasa" suffix=" %" [min]="0" [max]="100" mode="decimal" [minFractionDigits]="1" placeholder="%" [required]="true"></p-inputNumber>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
              <p-inputNumber [(ngModel)]="porProteina" suffix=" %" [min]="0" [max]="100" mode="decimal" [minFractionDigits]="1" placeholder="%" [required]="true"></p-inputNumber>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
              <p-inputNumber [(ngModel)]="porLactosa" suffix=" %" [min]="0" [max]="100" mode="decimal" [minFractionDigits]="1" placeholder="%" [required]="true"></p-inputNumber>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
              <p-inputNumber [(ngModel)]="precioVenta" prefix="$ " mode="decimal" locale="en-US" [minFractionDigits]="2" placeholder="$" [required]="true"></p-inputNumber>
            </div>
          </div>

          <p-divider></p-divider>
          <h3>Manejo</h3>

          <div class="p-grid">
            <div class="field-radiobutton">
              <p-radioButton value="confinamiento" [(ngModel)]="manejo"></p-radioButton>
              <label class="p-text-bold label">&nbsp;Confinamiento</label>
            </div>
            <div class="p-mr-3"></div>
            <div class="field-radiobutton">
              <p-radioButton value="pastoreo" [(ngModel)]="manejo"></p-radioButton>
              <label class="p-text-bold label">&nbsp;Pastoreo</label>
            </div>
          </div>
          <div class="p-mt-3"></div>
          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
              <app-label label="Distancia entre la sala ordeño y la pradera"></app-label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <app-label label="Número de viajes"></app-label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <app-label label="Tipografía"></app-label>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
              <p-inputNumber [(ngModel)]="distanciaOrdeno" suffix=" m" [min]="0" [max]="100"
                [disabled]="manejo == 'confinamiento'"
                mode="decimal" [minFractionDigits]="2" placeholder="m" [required]="manejo == 'pastoreo'"></p-inputNumber>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <p-inputNumber [(ngModel)]="numeroViajes" [disabled]="manejo == 'confinamiento'"
                [min]="0" [max]="100" mode="decimal" [required]="manejo == 'pastoreo'"></p-inputNumber>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <p-dropdown [options]="tipografias" [(ngModel)]="tipografica" styleClass="width_full"
                placeholder="Seleccione..." optionLabel="nombre" optionValue="nombre"
                [showClear]="true" optionDisabled="inactive"
                [disabled]="manejo == 'confinamiento'" [required]="manejo == 'pastoreo'">
              </p-dropdown>
            </div>
          </div>

          <div class="p-mt-2"></div>
          <div class="footer">
            <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined" (click)="cancelar = true"></button>
            <div class="p-mr-2"></div>
            <p-button label="Continuar" icon="pi pi-arrow-right" iconPos="right" (click)="siguiente()"></p-button>
          </div>
    </p-tabPanel>
    <p-tabPanel [disabled]="activeIndex1 != 1">
      <ng-template pTemplate="header">
        <i class="pi pi-chart-bar"></i>
        <div class="p-mr-2"></div>
        <span>Alimnetación</span>
      </ng-template>
      <app-alimentos [alimentosSeleccionados]="alimentosSeleccionados" (confirmar)="confirmarAlimentos($event)" (atras)="tabAnterior()"></app-alimentos>
    </p-tabPanel>
    <p-tabPanel [disabled]="activeIndex1 != 2">
      <ng-template pTemplate="header">
        <i class="pi pi-server"></i>
        <div class="p-mr-2"></div>
        <span>Dieta</span>
      </ng-template>
      <app-dieta *ngIf="activeIndex1 == 2" [alimentosSeleccionados]="alimentosSeleccionados" (atras)="tabAnterior()"
        [alimentos]="dieta" (confirmar)="dieta = $event"></app-dieta>
    </p-tabPanel>
  </p-tabView>
</div>

<app-cancelar [visible]="cancelar" (change)="cancelar = false"></app-cancelar>
