::ng-deep .td-actions {
    width: 100px !important;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
    padding: 15px 10px 10px 10px !important;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th>.td-actions {
    width: 120px !important;
}

::ng-deep .p-datatable table {
    font-size: 15px !important;
}