.app-bibliografica {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: rgba(0,0,0,.7);
    text-shadow: 0 1px rgb(255 255 255 / 10%);
    background: #E7E8E7;
    left: 0px;
    padding: 5px;
    border-top: 1px solid #afc4d1;
}

.app-parrafo {
    padding: 10px;
}