.logo {
    width: 100px;
    background-color: white;
  }
  
  .logo:hover {
    background-color: white;
  }

  .p-button-success-app {
    color: #fff;
    background: #069a7e;
    border: 1px solid #0e7774;
  }
    
  .p-button-success-app:hover {
    background: #0e7774;
    border: 1px solid #0e7774;
  }