<div class="p-mt-2"></div>
<div class="p-grid">
  <div  class="p-col-12 p-md-6 p-lg-6">
    <div class="tabla-app p-grid">
      <div class="p-col-8 p-md-8 p-lg-8 p-text-bold">
        <span>Eficiencia alimenticia (L/kg MS)</span>
        <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Eficiencia alimenticia (L/kg MS)')"></span>
      </div>
      <div class="p-col-4 p-md-4 p-lg-4 p-text-lg-right">
        <span>{{getValor(relacion.eficienciaAlimentica)}}</span>
      </div>
      <div class="p-col-8 p-md-8 p-lg-8 p-text-bold">
        <span>Costo de la dieta ($/kg MS)</span>
      </div>
      <div class="p-col-4 p-md-4 p-lg-4 p-text-lg-right">
        <span>{{getValor(relacion.costoDieta)}}</span>
      </div>
      <div class="p-col-8 p-md-8 p-lg-8 p-text-bold">
        <span>Costo/L leche</span>
        <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Costo/L leche')"></span>
      </div>
      <div class="p-col-4 p-md-4 p-lg-4 p-text-lg-right">
        <span>{{getValor(relacion.costoLitroLeche)}}</span>
      </div>
    </div>
  </div>
  <div  class="p-col-12 p-md-6 p-lg-6">
    <div class="tabla-app p-grid" style="margin: auto;">
      <div class="p-col-8 p-md-8 p-lg-8 p-text-bold">
        <span>Margen de utilidad bruta ($/L leche)</span>
        <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Margen de utilidad bruta ($/L leche)')"></span>
      </div>
      <div class="p-col-4 p-md-4 p-lg-4 p-text-lg-right">
        <span>{{getValor(relacion.margenUtilidadBruta)}}</span>
      </div>
      <div class="p-col-8 p-md-8 p-lg-8 p-text-bold">
        <span>Margen porcentual (%)</span>
        <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Margen porcentual (%)')"></span>
      </div>
      <div class="p-col-4 p-md-4 p-lg-4 p-text-lg-right">
        <span>{{getValor(relacion.margenPorcentual)}}</span>
      </div>
      <div class="p-col-8 p-md-8 p-lg-8 p-text-bold">
        <span>Relación precio de venta/Costo de alimentación</span>
        <span pTooltip="Mas información" tooltipPosition="top" class="app-info pi pi-info-circle" (click)="abrirInfo('Relación precio de venta/Costo de alimentación')"></span>
      </div>
      <div class="p-col-4 p-md-4 p-lg-4 p-text-lg-right">
        <span>{{getValor(relacion.relacionPrecioVentaCostoAlimentacion)}}</span>
      </div>
    </div>
  </div>
</div>
<div class="p-mt-3"></div>
<div class="footer">
  <button pButton pRipple type="button" class="p-button-success-app" label="Anterior" icon="pi pi-arrow-left" iconPos="left" (click)="anterior()"></button>
  <div class="p-mr-2"></div>
  <button pButton pRipple type="button" class="p-button-success-app" label="Descargar reporte" icon="pi pi-cloud-download" iconPos="left" (click)="descargar()"></button>
  <div class="p-mr-2"></div>
  <button pButton pRipple type="button" class="p-button-success-app" label="Guardar simulación" icon="pi pi-save" iconPos="left" (click)="guardar()"></button>
</div>
<div class="p-mt-3"></div>